#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

html, body {
  height: 100%;
}

.myApp {
  /* overflow: hidden; */
  position: relative;
  height: 100%;
}

.bg {
  /* background-color: black; */
  filter: brightness(50%);
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
}

.btn{
  font-family: 'Laila', sans-serif!important;
}